<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cocktail King - Alkohole</title>
    <link rel="icon" type="image/png" href="../images/photos/favicon.png">

    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/alcohols-cocktails.css">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8fd9367667.js" crossorigin="anonymous"></script>
</head>
<body>
    <header >
        <a href="main.html" class="flex-center">
            <img id="logo" src="../images/photos/logo.jpeg" alt="" class="images-fit">
            <h1 class="header-text">Cocktail King</h1>
        </a>
    </header>

    <main>
        <div id="left-banner"> 
            <nav>
                <ul class="desktop-icons">
                    <li class="hover-effect">
                        <a href="main.html">
                            <i class="fa-solid fa-house"></i>
                            <span>Strona główna</span>
                        </a>
                    </li>
                    <li class="hover-effect">
                        <a href="cocktails.html">
                            <i class="fa-solid fa-martini-glass"></i>
                            <span>Koktajle</span>
                        </a>
                    </li>
                    <li class="hover-effect">
                        <a href="alcohols.html">
                            <i class="fa-solid fa-whiskey-glass"></i>
                            <span>Alkohole</span>
                        </a>
                    </li>
                    <li class="hover-effect">
                        <a href="">
                            <i class="fa-solid fa-user"></i>
                            <span>Moje konto</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <section class="cards">
            <figure class="card hover-effect">
                <img src="../images/alcohols/gin.jpeg" alt="">
                <figcaption>gin</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/alcohols/rum.jpeg" alt="">
                <figcaption>rum</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/alcohols/whisky.jpeg" alt="">
                <figcaption>whisky</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/alcohols/vodka.jpeg" alt="">
                <figcaption>wódka</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/alcohols/liqueur.jpeg" alt="">
                <figcaption>likier</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/alcohols/tequile.jpeg" alt="">
                <figcaption>tequila</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/alcohols/beer.jpeg" alt="">
                <figcaption>piwo</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/alcohols/wine.jpeg" alt="">
                <figcaption>wino</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/alcohols/brandy.jpeg" alt="">
                <figcaption>brandy</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/alcohols/mezcal.jpeg" alt="">
                <figcaption>mezcal</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/alcohols/cachaca.jpeg" alt="">
                <figcaption>cachaca</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/alcohols/pisco.jpeg" alt="">
                <figcaption>Pisco</figcaption>
            </figure>
        </section>
    </main>

    <footer>
        <span>Wyjątkowe koktajle, niezapomniane chwile – smakuj życie z każdym łykiem</span>
    </footer>
</body>
</html>