<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cocktail King - Koktaile</title>
    <link rel="icon" type="image/png" href="../images/photos/favicon.png">

    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/alcohols-cocktails.css">

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8fd9367667.js" crossorigin="anonymous"></script>

</head>
<body>
    <header >
        <a href="main.html" class="flex-center">
            <img id="logo" src="../images/photos/logo.jpeg" alt="" class="images-fit">
            <h1 class="header-text">Cocktail King</h1>
        </a>
    </header>

    <main>
        <div id="left-banner"> 
            <nav>
                <ul class="desktop-icons">
                    <li class="hover-effect">
                        <a href="main.html">
                            <i class="fa-solid fa-house"></i>
                            <span>Strona główna</span>
                        </a>
                    </li>
                    <li class="hover-effect">
                        <a href="cocktails.html">
                            <i class="fa-solid fa-martini-glass"></i>
                            <span>Koktajle</span>
                        </a>
                    </li>
                    <li class="hover-effect">
                        <a href="alcohols.html">
                            <i class="fa-solid fa-whiskey-glass"></i>
                            <span>Alkohole</span>
                        </a>
                    </li>
                    <li class="hover-effect">
                        <a href="">
                            <i class="fa-solid fa-user"></i>
                            <span>Moje konto</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>

        <section class="cards">
            <a href="item.html">
                <figure class="card hover-effect">
                        <img src="../images/coctails/old fashioned.jpeg" alt="">
                        <figcaption>old fashioned</figcaption>
                </figure>
            </a>
            <figure class="card hover-effect">
                <img src="../images/coctails/lynchburg lemonade.jpeg" alt="">
                <figcaption>lynchburg lemonade</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/basil smash.jpeg" alt="">
                <figcaption>basil smash</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/amf.jpeg" alt="">
                <figcaption>amf</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/aperol spritz.jpeg" alt="">
                <figcaption>aperol spritz</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/sangria.jpeg" alt="">
                <figcaption>sangria</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/mojito.jpeg" alt="">
                <figcaption>mojito</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/blue kamikaze.jpeg" alt="">
                <figcaption>blue kamikaze</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/negroni.jpeg" alt="">
                <figcaption>negroni</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/el diablo.jpeg" alt="">
                <figcaption>el diablo</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/rashberry margarita.jpeg" alt="">
                <figcaption>rashberry margarita</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/paloma.jpeg" alt="">
                <figcaption>paloma</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/spicy margharita.jpeg" alt="">
                <figcaption>spicy margarita</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/michelada.jpeg" alt="">
                <figcaption>michelada</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/aviaton.jpeg" alt="">
                <figcaption>aviaton</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/rusty nail.jpeg" alt="">
                <figcaption>rusty nail</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/bellini.jpeg" alt="">
                <figcaption>bellini</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/mai tai.jpeg" alt="">
                <figcaption>mai tai</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/corona sunrise.jpeg" alt="">
                <figcaption>corona sunrise</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/vodka soda.jpeg" alt="">
                <figcaption>vodka soda</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/rob roy.jpeg" alt="">
                <figcaption>rob roy</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/malibu mojito.jpeg" alt="">
                <figcaption>malibu mojito</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/tequila sunrise.jpeg" alt="">
                <figcaption>tequila sunrise</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/white russian.jpeg" alt="">
                <figcaption>white russian</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/rum old fashioned.jpeg" alt="">
                <figcaption>rum old fashioned</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/malibu spritz.jpeg" alt="">
                <figcaption>malibu spritz</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/martini.jpeg" alt="">
                <figcaption>martini</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/m one.jpeg" alt="">
                <figcaption>m one</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/manhattan.jpeg" alt="">
                <figcaption>manhattan</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/black velvet.jpeg" alt="">
                <figcaption>black velvet</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/gin and tonic.jpeg" alt="">
                <figcaption>gin and tonic</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/tokio ice tea.jpeg" alt="">
                <figcaption>tokio ice tea</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/cuba libre.jpeg" alt="">
                <figcaption>cuba libre</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/frappe coco baileys.jpeg" alt="">
                <figcaption>frappe coco baileys</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/darth jager.jpeg" alt="">
                <figcaption>darth jager</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/cosmopolitan.jpeg" alt="">
                <figcaption>cosmopolitan</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/jager shot.jpeg" alt="">
                <figcaption>jager shot</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/zombie.jpeg" alt="">
                <figcaption>zombie</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/long island ice tea.jpeg" alt="">
                <figcaption>long island ice tea</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/mimosa.jpeg" alt="">
                <figcaption>mimosa</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/margarita.jpeg" alt="">
                <figcaption>margarita</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/ramos gin fizz.jpeg" alt="">
                <figcaption>ramos gin fizz</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/bloody mary.jpeg" alt="">
                <figcaption>bloody mary</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/jager redbull.jpeg" alt="">
                <figcaption>jager redbull</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/pina colada.jpeg" alt="">
                <figcaption>pina colada</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/irish coffe.jpeg" alt="">
                <figcaption>irish coffe</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/penicillin.jpeg" alt="">
                <figcaption>penicillin</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/screwdriver.jpeg" alt="">
                <figcaption>screwdriver</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/daiquri.jpeg" alt="">
                <figcaption>daiquri</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/mad dog.jpeg" alt="">
                <figcaption>mad dog</figcaption>
            </figure>
            <figure class="card hover-effect">
                <img src="../images/coctails/pisco sour.jpeg" alt="">
                <figcaption>pisco sour</figcaption>
            </figure>
        </section>
    </main>

    <footer>
        <span>Wyjątkowe koktajle, niezapomniane chwile – smakuj życie z każdym łykiem</span>
    </footer>
</body>
</html>