<!DOCTYPE html>
<html lang="pl">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Cocktail King - Koktail</title>
        <link rel="icon" type="image/png" href="../images/photos/favicon.png">

        <link rel="stylesheet" href="../styles/index.css">
        <link rel="stylesheet" href="../styles/item.css">

        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/8fd9367667.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <a href="main.html" class="flex-center">
                <img id="logo" src="../images/photos/logo.jpeg" alt="" class="images-fit">
                <h1 class="header-text">Cocktail King</h1>
            </a>
        </header>

        <main>
            <div id="left-banner">
                <nav>
                    <ul class="desktop-icons">
                        <li class="hover-effect">
                            <a href="main.html">
                                <i class="fa-solid fa-house"></i>
                                <span>Strona główna</span>
                            </a>
                        </li>
                        <li class="hover-effect">
                            <a href="cocktails.html">
                                <i class="fa-solid fa-martini-glass"></i>
                                <span>Koktajle</span>
                            </a>
                        </li>
                        <li class="hover-effect">
                            <a href="alcohols.html">
                                <i class="fa-solid fa-whiskey-glass"></i>
                                <span>Alkohole</span>
                            </a>
                        </li>
                        <li class="hover-effect">
                            <a href="">
                                <i class="fa-solid fa-user"></i>
                                <span>Moje konto</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
  
                
            <section>
                <div id="coctail-image-div">
                    <img src="../images/coctails/old fashioned.jpeg" alt="" class="hover-effect-not-scale images-fit">
                </div>
                <h1>OLD FASHIONED</h1>
                <h2 class="stars">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </h2>
                <p>
                  Jest to jeden z najstraszych koktaili świata. Jego historia sięga początku XVIII wieku. Wtedy też zaczeły pojawiać się pierwsze bittersy,
                  czyli dodatki (przyprawy) do drinków, które do dziś cieszą się rosnącą popularnością. Jest uważany za prawdziwą ikonę sztuki barmańskiej i fundament współczesnej kultury koktajlowej.
                </p>
            </section>

            <aside>
                <h2>Składniki:</h2>
                <ul>
                    <li>2 shoty burbonu lub whiskey american</li>
                    <li>2 łyżeczki cukru brązowego</li>
                    <li>2 dashe Angostury Aromatic Bitters</li>
                    <li>garnish z podpalonego zesta pomarańczy</li>
                </ul>
                <h2>Przygotowanie:</h2>
                    <ul>
                        <li>Pierwsze 3 składniki do szklanicy</li>
                        <li>Mieszamy dokładnie</li>
                        <li>Dodajemy lód i mieszamy ponownie</li>
                        <li>Wlewamy do rock glass na lodzie</li>
                        <li>Wycinamy zest z pomarańczy</li>
                        <li>Ściskamy zest zewnętrzną stroną w stronę koktailu</li>
                        <li>Podpalamy zest i wrzucamy do do koktailu</li>
                    </ul>
                <h2>Ciekawostka: </h2>
                <p>Koktajl prezydencki – Harry S. Truman i jego żona Bess byli wielkimi fanami Old Fashioned, często serwując go na przyjęciach w Białym Domu.</p>
            </aside>
        </main>
        
        <footer>
            <span>Wyjątkowe koktajle, niezapomniane chwile – smakuj życie z każdym łykiem</span>
        </footer>

    </body>
</html>