<!DOCTYPE html>
<html lang="pl">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cocktail King - Rejestracja</title>
    <link rel="icon" type="image/png" href="../images/photos/favicon.png">

    <link rel="stylesheet" href="../styles/index.css">
    <link rel="stylesheet" href="../styles/log-reg.css">

    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet">
    <script src="https://kit.fontawesome.com/8fd9367667.js" crossorigin="anonymous"></script>

</head>

<body id="login-page">

    <div id="panel-img">
        <img src="../images/photos/register.jpeg" alt="" class="images-fit">
    </div>

    <div id="panel-form" class="flex-center">
        <form action="">
            <img id="logo" src="../images/photos/logo.jpeg" alt="" class="images-fit">
            <h1 class="header-text">Cocktail King</h1>

            <div class="input-icon-div">
                <input type="text" placeholder="Nazwa użytkownika" name="name" class="hover-effect-not-scale">
                <i class="fa-solid fa-user"></i>
            </div>
            <div class="input-icon-div">
                <input type="text" placeholder="Login" name="login" class="hover-effect-not-scale">
                <i class="fa-solid fa-envelope"></i>
            </div>
            <div class="input-icon-div">
                <input type="password" placeholder="Hasło" name="password" class="hover-effect-not-scale">
                <i class="fa-solid fa-lock"></i>
            </div>
            <div class="input-icon-div">
                <input type="password" placeholder="Ponów hasło" name="password-second" class="hover-effect-not-scale">
                <i class="fa-solid fa-lock"></i>
            </div>
            <button type="submit" class="hover-effect"><i class="fa-solid fa-arrow-right-to-bracket"></i>Utwórz
                konto</button>
        </form>
    </div>

</body>

</html>