main {
    display: flex;
    height: auto;
    min-height: calc(100vh - 200px - 5vh);
}

nav {
    position: fixed;
}

figcaption {
    width: 300px;
    height: 25px;
    border: 1px solid var(--primary-color);
    border-top: none;
    border-radius: 0 0 20px 20px;
    color: white;
    line-height: 25px;
    text-align: center;
    text-transform: uppercase;

}

figure {
    border-radius: 20px
}

#search-input {
    width: 50%;
    background-color: var(--secondary-color);
    border-radius: 20px;
    box-sizing: border-box;
    border: 1px solid var(--primary-color);
    color: white;
    font-size: 1.5em;
    margin: 6px 0;
    padding: 10px 10px 10px 42px;
}

#search-container {
    margin-top: 36px;
    position: relative;
}

#search-container>i {
    position: absolute;
    color: var(--primary-color);
    font-size: 1.2em;
    left: 15px;
    top: 22px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    width: 75vw;
    gap: 36px;
    margin: 36px 0;
}

.card {
    align-items: center;
    height: 325px;
    width: 300px;
    margin: 0;
}

.card:hover {
    -webkit-box-shadow: 4px 4px 16px 0px rgba(1, 50, 32, 1);
    -moz-box-shadow: 4px 4px 16px 0px rgba(1, 50, 32, 1);
    box-shadow: 4px 4px 16px 0px rgba(1, 50, 32, 1);
}

.card img {
    height: 300px;
    width: 300px;
    border-radius: 20px 20px 0 0;
    border: 1px solid var(--primary-color);
    margin: 0;
}

@media screen and (max-width: 1200px) {
    main {
        flex-direction: column;
    }

    nav {
        position: static;
    }

    aside {
        min-height: 200px;
        height: 25vh;
        display: flex;
        align-items: center;
    }

    aside img {
        height: 100%;
    }

    #left-banner {
        height: auto;
    }

    #search-container {
        display: flex;
    }

    #content-container {
        padding: 0 12px
    }

    aside,
    .cards,
    #search-input,
    #left-banner {
        width: 100%;
    }

    aside,
    .cards,
    #search-container {
        justify-content: center;
    }
}