:root {
    --primary-color: #D4AF37;
    --secondary-color: black;
    --tertiary-color: #800020;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--secondary-color);
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 200px;
}

nav {
    height: 60vh;
    width: 25vw;
    min-height: 500px;
    min-width: 350px;
}

nav>ul {
    display: flex;
    flex-direction: column;
    color: var(--primary-color);
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0 36px;
}

nav>ul>li {
    display: flex;
    align-items: center;
    font-size: 2em;
    gap: 0.5em;
    height: 60px;
}

li>a {
    width: 100%;
    height: 100%;
}

footer {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center; 
    background-color: var(--secondary-color);
    border-top: 1px solid var(--tertiary-color);
    color: var(--primary-color);
    font-size: 2vh;
    text-transform: capitalize;
}

footer span {
    text-align: center;
}

#panel-form input, #panel-form button{
    width: 100%;
    background-color: var(--secondary-color);
    border-radius: 20px;
    box-sizing: border-box;
    border: 1px solid var(--primary-color);
    color: white;
    font-size: 1.5em;
    margin: 6px 0;
    padding: 10px 10px 10px 42px;
}

input:focus {
    outline: none;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

p {
    color: white;
    margin: 6px;
}

#left-banner {
    display: flex;
    flex-direction: column;
    width: 25vw;
    margin-top: 36px;
}

.header-text {
    color: white;
    font-size: 4.5em;
    margin: 6px;
    margin-left: 25px;
    padding: 0;
    text-align: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hover-effect:hover {
    cursor: pointer;
    filter: brightness(125%);
    transition: transform 0.3s ease;
    transform: scale(1.1);
}

.hover-effect-not-scale:hover {
    cursor: pointer;
    filter: brightness(125%);
}

.images-fit {
    background: var(--secondary-color);
    object-fit: contain
}

.image-container {
    position: relative;
    width: 100%;
}

.overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    color: white;
    font-size: 20px;
    opacity: 0;
    transition: opacity 0.3s ease;
    text-align: center;
}

.image-container:hover .overlay {
    cursor: pointer;
    opacity: 1;
}

.image-container:hover img {
    opacity: 0.4;
}

@media screen and (max-width: 1200px) {
    body {
        display: flex;
        flex-direction: column;
        background-color: var(--secondary-color);
        margin: 0;
    }

    header {
        height: auto;
    }

    header>a {
        display: flex;
        flex-direction: column;
    }

    nav {
        height: 100px;
        width: 100%;
        min-height: 100px;
        border-bottom: 1px solid var(--tertiary-color);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    nav>ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        height: 100%;
        gap: 1.5em;
        color: var(--primary-color);
        margin: 0;
        padding: 0;
    }

    nav>ul>li {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        font-size: 1.3em;
        gap: 0.5em;
    }

    nav>ul>li>a {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    nav>ul>li>a>i {
        font-size: 1.8em;
    }

    footer {
        height: auto;
    }

    #left-banner
    {
        width: 100%;
        margin: 0;
    }

    .desktop-icons {
        font-size: smaller;
        text-align: center;
    }

    .header-text {
        font-size: 4em;
    }
}