#login-page {
    display: flex;
}

#panel-img,
#panel-form {
    width: 50vw;
    min-height: 95vh;
}

#panel-form input,
#panel-form button {
    width: 100%;
    background-color: var(--secondary-color);
    border-radius: 20px;
    box-sizing: border-box;
    border: 1px solid var(--primary-color);
    color: white;
    font-size: 1.5em;
    margin: 6px 0;
    padding: 10px 10px 10px 42px;
}

#panel-img>img {
    height: 100%;
    width: 100%;
    min-height: 500px;
}

#panel-form>form {
    width: 80%;
}

#panel-form button {
    width: 75%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

#panel-form>form>div>i {
    position: absolute;
    top: 22px;
    left: 15px;
}

.messages {
    width: 75%;
}

.messages p {
    width: 100%;
    color: var(--tertiary-color);
    text-align: left;
}

.messages i {
    padding-right: 6px;
}

button i {
    margin-right: 6px;
}

.no-valid {
    border: 1px solid var(--tertiary-color) !important;
}

@media screen and (max-width: 1200px) {
    #login-page {
        flex-direction: column-reverse;
        align-items: center;
    }

    #login-page {
        padding: 0;
    }

    #login-page,
    #panel-form,
    #panel-form>form,
    #panel-img {
        height: auto;
        width: 100%;
    }
}